
.icon-camera_icon:before { content: '\e800'; } /* '' */
.icon-message_icon:before { content: '\e801'; } /* '' */
.icon-home_icon:before { content: '\e802'; } /* '' */
.icon-edit_icon:before { content: '\e803'; } /* '' */
.icon-profile_icon:before { content: '\e804'; } /* '' */